body{
    background-image: url("../img/taxi_back.jpg");
    color: #ffffff;
}

.modal-header{
    background-color: #1a1a1a;
}

.modal-header h3{
    color: #ffffff;
}

.modal-body{
    max-height: 100%;
    max-width: 24%;
    padding: 0;
}

.well{
    background-color:rgba(0,0,0,0.9);
    margin-bottom: 0;
    padding: 19px 19px 1px 19px;
}
.legend{
    color: #ffffff;
}

.alert{
    max-width: 80%;
    display: none;
}

a{
    color: orange;
}

.btn{
    margin-top: 15px;
    padding: 6px 12px;
}
