<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login Form</title>
    <link href="../css/disp-login.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(document).ready(function() {
            $(".username").focus(function() {
                $(".user-icon").css("left","-48px");
            });
            $(".username").blur(function() {
                $(".user-icon").css("left","0px");
            });

            $(".password").focus(function() {
                $(".pass-icon").css("left","-48px");
            });
            $(".password").blur(function() {
                $(".pass-icon").css("left","0px");
            });
        });
    </script>

</head>
<body>

<div id="wrapper">
    <div class="user-icon"></div>
    <div class="pass-icon"></div>
    <form name="login-form" class="login-form" action="" method="post">
        <div class="header">
            <h1>Accra Cab Services</h1>
        </div>
        <p class="error">{{ error }}</p>
        <div class="content">
            <input name="email" type="text" class="input username" placeholder="Email" onfocus="this.value=''">
            <input name="password" type="password" class="input password" placeholder="Password" onfocus="this.value=''">
        </div>

        <div class="footer">
            <input type="submit" name="submit" value="Login" class="button" />
{#            <input type="submit" name="submit" value="Register" class="register" />#}
        </div>
    </form>

</div>
<div class="gradient"></div>

</body>
</html>