<!DOCTYPE html>
<html>	
	<head>
		<title>PickMeApp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href = "css/bootstrap.min.css" type = "text/css" rel = "stylesheet">
		<link href = "css/bootstrap-responsive.min.css" type = "text/css" rel = "stylesheet">
		<link href = "css/styles.css" type = "text/css" rel = "stylesheet">
	</head>
	
	<body>
		<div id = "success" class="alert alert-block">
  <h4>Request successful, {{passenger.first_name}}
    <a href="/passenger" class="btn btn-large pull-right">Okay</a>
  </h4>
  <p>Please wait for a while, we will get back to you soon</p>
</div>
	
	<script type = "text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src = "js/bootstrap.min.js"></script>
		<script type="text/javascript" src = "js/scripts.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	</body>
</html>