<!DOCTYPE html>
<html>	
	<head>
		<title>PickMeApp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href = "css/bootstrap.css" type = "text/css" rel = "stylesheet">
		<script type="text/javascript" src = "js/bootstrap.js"></script>
		<script type="text/javascript" src = "js/scripts.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
		
		
	</head>
		
	<body onload = "initialize()">
		<input id = "searchTextField" type = "text">
	</body>
</html>