<!DOCTYPE html>
<html>
<head>
    <title>Cab Konekt</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
{#    <link type="text/css" rel="stylesheet" href="../css/style.css">#}
</head>
<body style="background-image: none; font-size: 50px">


<div class="hero-unit pagination-centered">
    <h2>Thanks for signing up to Cab Konekt</h2>
    <p>Please enter the code sent to the phone you provided.</p>
    <form class="form-horizontal">
        <div class="input-append">
            <input class="span4" id="appendedInputButton" type="text" style="padding: 7px">
            <input type="submit" class="btn btn-info span2" style="padding: 8px" value="Verify">
        </div>
    </form>
</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
</html>