<!DOCTYPE html>
<html>
<head>
    <title>Cab Konekt</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap-responsive.min.css">
{#    <link type="text/css" rel="stylesheet" href="../css/style.css">#}
</head>
<body style="background-image: none">

<div class="row offset4">
    <form class="form-horizontal">
        <div class="input-append">
            <input class="span6" id="appendedInputButton" type="text">
            <button class="btn" type="button">Verify</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
</html>